.numbers {
  max-width: 950px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  border-radius: 10px;
  background-color: #fff;
  position: relative;

  .numbers_shadown {
    background: rgb(13, 16, 37) none repeat scroll 0% 0%;
    opacity: 0.06;
    filter: blur(114px);
    border-radius: 10px;
    width: 1068.84px;
    height: 189.22px;
    position: absolute;
    top: 150px;
    left: -50px;
  }

  .numbers_card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .numbers_card_img {
      background-color: #ffecec;
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 70px;
    }

    .numbers_card_content {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 1.5rem;

      .numbers_card_number {
        margin-bottom: 0.875rem;
        color: $primary-black;
        font-size: 1.5625rem;
        line-height: 30px;
      }

      .numbers_card_text {
        color: $primary-gray;
        font-size: 1.25rem;
        line-height: 30px;
      }
    }
  }
}
